<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Simple Servlet Application</display-name>
  <servlet>
    <servlet-name>ServletSignIn</servlet-name>
    <servlet-class>com.book.app.servlet.ServletSignIn</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignIn</servlet-name>
    <url-pattern>/servlet/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSignUp</servlet-name>
    <servlet-class>com.nix.app.servlet.ServletSignUp</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignUp</servlet-name>
    <url-pattern>/servlet/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>com.nix.app.servlet.ServletHome</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHome</servlet-name>
    <url-pattern>/servlet/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.nix.app.servlet.ServletLogout</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>  
</web-app>